.list-group-item {
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding-left: 2.5rem; 
    position: relative; 
}

.list-group-item::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px; 
    background-color: #02366d; 
    border-radius: 50%; 
    position: absolute;
    left: 1rem; 
    top: calc(50% - 4px); 
}